* {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", Candara, sans-serif;
}

/*Intro side*/

.mainEffect {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.greetingTittle {
    display: inline-block;
    position: relative;
    top: 20vh;
    /*left: 60vh;*/
    padding: 5vh;
    border-radius: 2vh;
    background-color: lavender;
    border: solid 10px antiquewhite;
    font-family: Arial, sans-serif;
    font-size: 2em;
    display: none;

}

.greetingTittle:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid antiquewhite;
    border-bottom: 13px solid transparent;
    display: none;
}

.picture {
    position: absolute;
    top: 7vh;
    left: 7vh;
    display: inline-block;
    height: 300px;
    width: 300px;
    font-size: xx-large;
    font-family: "Arial", sans-serif;
    color: white;

    background: url('../images/me.jpg'), no-repeat;
    background-size: 120%;
    background-position-y: -40px;
    background-position-x: -20px;

    border-radius: 100%;
    text-decoration: none;
    border: solid 15px antiquewhite;
    display: none;

}

#name {
    display: inline-block;
    position: absolute;
    top: 15vh;
    left: 15vh;
    /*font-family: "Hand Me Down S (BRK)";*/
    font-family: Brussels, sans-serif;
    text-shadow: 0.45vh 0.8vh black, 0.45vh 0.9vh #FFB2B2;
    font-size: 15vh;
    /*color:lightblue;*/
    color: #BF8686;

}

@media screen and (max-width: 890px) {
    #name {
        left: 50vh;
    }

    .moveButton a {
        top: 90vh;
        left: 50vh;
    }
}

@media screen and (max-width: 636px) {
    #name {
        left: 10vh;
    }

    .moveButton a {
        top: 90vh;
        left: 10vh;
    }
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: auto;
        height: 100%;
    }
}

/*Main side */
#mainContainer, #personalInformationContainer, #workExperienceContainer, #educationContainer, #technicalSkillsContainer, .footer {
    min-height: 100vh;
    width: 100%;
}

#mainContainer, .footer {
    background-image: url('../images/tatry.JPG');
    background-size: cover;
}

#technicalSkillsContainer {
    background-image: url('../images/nosal.JPG');
    background-size: cover;
}

#personalInformationContainer {
    background-image: url('../images/loka.jpg');
    background-size: cover;
}

#workExperienceContainer {
    background-image: url('../images/giewont.JPG');
    background-size: cover;
}

#educationContainer {
    background-image: url('../images/kWierch.JPG');
    background-size: cover;
}

/*Menu*/
.menu {
    position: fixed;
    z-index: 5;
    width: 100vw;
}

.menu li {
    display: inline-block;

}

.menu ul {
    padding-top: 5vh;
    padding-left: 20vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.notLighted {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-size: 4vh;
    color: darkgray;
    /*padding: 2vh;*/
    padding-left: 2vh;
    font-family: 'Indie Flower', cursive;
    border-radius: 23%;
}

.enlight {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    font-size: 4.5vh;
    color: antiquewhite;
    text-shadow: 0.2vh 0.2vh antiquewhite;
    padding-left: 2vh;
    font-family: 'Indie Flower', cursive;
    border-radius: 23%;
}

.menu ul li:hover {
}

/*Hambuerger menu*/

@media screen and (max-width: 1000px) {
    .list {
        display: none;
    }

    #nav-icon1 {
        width: 60px;
        height: 45px;
        position: relative;
        margin-top: 5vh;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }

    #nav-icon1 span {

        display: block;
        position: absolute;
        height: 9px;
        width: 100%;
        background: #d3531a;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    #nav-icon1 span:nth-child(1) {
        top: 0px;
    }

    #nav-icon1 span:nth-child(2) {
        top: 18px;
    }

    #nav-icon1 span:nth-child(3) {
        top: 36px;
    }

    #nav-icon1.open span:nth-child(1) {
        top: 18px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    #nav-icon1.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }

    #nav-icon1.open span:nth-child(3) {
        top: 18px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
}

.moveButton a {
    display: inline-block;
    padding: 5vh;
    font-size: xx-large;
    font-family: "Arial", sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    text-decoration: none;
    margin-top: 60vh;
    margin-left: 45vw;
}

.moveButton a:hover {
    background-color: azure;
    text-decoration: none;
    color: black;
    font-size: xx-large;
}

.mainPicture {
    display: inline-block;
    /*position: absolute;*/
    /*top: 20vh;*/
    left: 10vh;
    height: 300px;
    width: 300px;
    font-size: xx-large;
    font-family: "Arial", sans-serif;
    color: white;
    background: url("../images/me.jpg"), no-repeat;
    background-size: 120%;
    background-position-y: -40px;
    background-position-x: -20px;
    border-radius: 100%;
    text-decoration: none;
    border: solid 15px antiquewhite;

}

.mainGreetingTittle {
    display: block;
    /*position: absolute;*/
    /*top: 20vh;*/
    /*margin: 20%;*/
    max-width: 100%;
    padding: 5vh;
    border-radius: 2vh;
    background-color: rgba(250, 235, 215, 0.5);
    border: solid 0.5vh antiquewhite;
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    color: Black;
}

/*.mainGreetingTittle:before {*/
/*content: "";*/
/*position: absolute;*/
/*right: 100%;*/
/*top: 3px;*/
/*width: 0;*/
/*height: 0;*/
/*border-top: 100px solid transparent;*/
/*border-right: 80px solid rgba(250, 235, 215, 0.5);*/
/*border-bottom: 0 solid transparent;*/
/*}*/

em {
    font-size: 1.5em;
    font-family: "Actonia", sans-serif;
}

.clipArts {
    display: inline-block;

}

.articleBackground {
    /*display: inline-block;*/
    position: relative;
    top: 20vh;
    /*left: 50vh;*/
    max-width: 100%;
    padding: 5vh;
    border-radius: 2vh;
    background-color: rgba(250, 235, 215, 0.5);
    border: solid 0.5vh antiquewhite;
    font-family: Arial, sans-serif;
    font-size: 1em;
    color: Black;
    overflow: hidden !important;
}

.articleBackground h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 5vh;

}

.uniPicture {
    position: relative;
    height: 20%;
    width: 20%;
    margin-top: 2vh;
}

.imgFormator {
    display: inline-block;
}

.linkTofloorball, .linkToOrientering {

    display: block;
    position: relative;
    text-decoration: none;
    font-family: Arial, sans-serif;
    padding: 1vh;
    font-weight: bolder;

}

span {
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    font-family: "Indie Flower", sans-serif;
    font-weight: 900;
    font-size: larger;
}

.linkTofloorball:hover, .linkToOrienteering:hover {
    background: rgb(190, 190, 190);
    box-shadow: 0.75vh 0.75vh 15px black;
    border-radius: 100%;
}

.hideButton {
    display: block;
    position: relative;
    text-decoration: none;
    font-family: sans-serif, Arial;
    padding: 1vh;
    background: greenyellow;
    margin: 5vh;
    border-radius: 2vh;
    font-weight: bolder;
}

.hideButton:hover {
    text-decoration: none;
    font-family: sans-serif, Arial;
    padding: 2vh;
    font-size: 120%;
}

#floorball, #footOrienteering {
    line-height: 5vh;
    font-family: sans-serif, "Open Sans";
}

.skillsPicture {
    margin-left: 5vh;

}

.workExperienceStyle {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
}

.workExperienceStyleTitle {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: larger;
    font-weight: 500;
    margin: 2vh 0;
}

.mainInformation {
    font-size: 3vh;
}

.starSize {
    width: 8vh;
    height: 6vh;
}

@media screen and (max-width: 320px) , screen and (max-height: 568px) {
    .starSize {
        width: 5vh;
        height: 5vh;
    }
}

@media screen and (max-width: 768px) , screen and (max-height: 1024px) {
    .starSize {
        width: 5vh;
        height: 5vh;
    }
}